html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
    background: var(--gradient-primary);
    color: var(--text-light);
    padding: 0 2rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.hero-section .hero-content h1 {
    font-size: 3rem;
}

.hero-section .hero-content p {
    font-size: 1.25rem;
    margin: 0;
}

.dark-section {
    background-color: var(--bg-dark-blue);
    color: var(--text-light);
}

footer {
    margin-top: auto;
    padding: 20px 0;
    text-align: center;
}

.social_links a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
}

.social_links a:hover {
    background-color: white;
    border: 2px solid rgb(70, 125, 208);
}

.social_links i {
    font-size: 1.5rem;
    color: white;
}

.social_links a:hover i {
    color: #052c60;
}

.footer_logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.copyright {
    color: rgb(205, 216, 229);
    font-size: 0.9rem;
}